<%- @content.each_line do |line| -%>
<p><%= l = line.chop; l == '' ? '&nbsp;' : l %></p>
<%- end -%>

<% if @author -%>
<p class='author'>
  <%= @author %>
</p>
<% end -%>
<% if @date -%>
<p class='date'>
  <% @date %>
</p>
<% end -%>
<% if @source -%>
<p class='source'>
  <% @source %>
</p>
<% end -%>
