.bundle
.sass-cache
.cache
.DS_Store

tmp
www
src/img
platforms
plugins/*
assets/app-icons
assets/app-icons-android
assets/launch-screens
assets/poems-utf
screenshots
Preview.html
config.xml

site/build
site/src/favicon*
site/src/images/favicon*
site/src/images/screen*
site/src/images/promo*
site/data/poem_*

lib/js

src/data.json
