{{#navbarBox}}
  <div class="left">
    {{ navbar-button linkClass="open-panel" iconType="menu" }}
  </div>
  <div class="center sliding">О Приложении</div>
  <div class="right"></div>
</div>
{{/navbarBox}}

<div data-page="about" class="page">
  <div class="page-content">

    <div class="list-block">
      <ul>
        {{ list-item title="Версия" subtitle=versionText }}
      </ul>
    </div>

    <div class='content-block about-authors'>
      <div class="row">
        <div class="col-50">
          <p class='image'>
            <img class='img-avatar' id='dmitry-avatar' src="../../images/avatar-dmitry.jpg" />
          </p>
          <p class='name'>Дмитрий<br>Сокуренко</p>
        </div>
        <div class="col-50">
          <p class='image'>
            <img class='img-avatar' src="../../images/avatar-denis.jpg" />
          </p>
          <p class='name'>Денис<br>Белобоков</p>
        </div>
      </div>

    </div>

  </div>
</div>
