{{#navbarBox}}
  <div class="left">
    {{ navbar-button linkClass="open-panel" iconType="menu" }}
    {{ navbar-button-stub }}
  </div>
  <div class="center sliding">
    <span class='app-title'>Стих Дня</span>
  </div>
  <div class="right">
    {{ navbar-button linkClass="x-random" iconType="random" }}
    {{ navbar-button linkClass="x-share" iconType="share" }}
  </div>
{{/navbarBox}}

<div data-page="index" class="page">
  <div class="page-content main-page-content">
    <div id='poem-swiper' class='smm-swiper'>
      <div class='smm-swiper-viewport' data-shift="0">
        <div class='smm-swiper-slide prev' style="transform: translate3d(-100%, 0%, 0px)"></div>
        <div class='smm-swiper-slide current' style="transform: translate3d(0%, 0%, 0px)"></div>
        <div class='smm-swiper-slide next' style="transform: translate3d(100%, 0%, 0px)"></div>
      </div>
    </div>
  </div>
  {{!-- <div class="toolbar toolbar-bottom">
    <div class="toolbar-inner">
      <a href="#" class="link">Link 1</a>
      <a href="#" class="link">Link 2</a>
      <a href="about.html" class="link ajax">About</a>
    </div>
  </div> --}}
</div>
