{{#navbarBox}}
  <div class="left">
    {{> shared/navbar_button linkClass="open-panel" iconType="menu" }}
  </div>
  <div class="center sliding">Системное Меню</div>
  <div class="right"></div>
</div>
{{/navbarBox}}

<div data-page="developer-menu" class="page">
  <div class="page-content">
    <div class="list-block">
      <ul>
        {{> shared/list_item title="Первая дата" subtitle=firstDate }}
        {{> shared/list_item title="Последняя дата" subtitle=lastDate }}
      </ul>
    </div>
  </div>
</div>
