{{#navbarBox}}
  <div class="left">
    {{> shared/navbar_button linkClass="open-panel" iconType="menu" }}
  </div>
  <div class="center sliding">Избранное</div>
  <div class="right"></div>
</div>
{{/navbarBox}}

<div data-page="favorites" class="page">
  <div class="page-content">
    <div class="list-block">
      <ul>
        {{#each poems}}
          {{> shared/list_action_item title=firstLine url=url }}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
