{{#navbarBox}}
  <div class="left">
    {{> shared/navbar_button linkClass="open-panel" iconType="menu" }}
  </div>
  <div class="center sliding">Избранное</div>
  <div class="right"></div>
</div>
{{/navbarBox}}

<div data-page="favorites" class="page favorites-page">
  <div class="page-content">
    {{#if poems}}
      <div class="list-block">
        <ul>
          {{#each poems}}
            {{> shared/list_action_item title=firstLine url=url }}
          {{/each}}
        </ul>
      </div>
    {{else}}
      <div class='empty'>
        <p class='empty-message'>
          Пока пусто
        </p>
        <p class='empty-note'>
          Нажмите на <i class='icon icon-like'></i>
          под стихотворением чтобы добавить его в «Избранное»
        </p>
      </div>
    {{/if}}
  </div>
</div>
