{{ navbar title='Избранное' }}

<div data-page="favorites" class="page">
  <div class="page-content">
    <div class="list-block">
      <ul>
        {{> shared/list_action_item title="Избранный стих" }}
      </ul>
    </div>
  </div>
</div>
