{{ navbar title='Избранное' }}

<div data-page="favorites" class="page">
  <div class="page-content">
    <div class="list-block">
      <ul>
        {{#each poems}}
          {{> shared/list_action_item title=firstLine url=url }}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
