<div data-page="index" class="page">
  <div class="page-content">

    <div id='poems-list-box'></div>

    <div class="content-block">
      <a href="about.html">About app</a>
    </div>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

  </div>
</div>

