<div data-page="index" class="page">
  <div class="page-content">

    <div id='poems-list-box'></div>

    <div id='poem-swiper' class='smm-swiper'>
      <div class='smm-swiper-viewport' data-shift="0">
        <div class='smm-swiper-slide prev' style="transform: translate3d(-100%, 0%, 0px)">19</div>
        <div class='smm-swiper-slide current' style="transform: translate3d(0%, 0%, 0px)">20</div>
        <div class='smm-swiper-slide next' style="transform: translate3d(100%, 0%, 0px)">21</div>
      </div>
    </div>

    <div class='smm-swiper-controls'>
      <p class="buttons-row">
        <button class='prev button'>Prev</button>
        <button class='next button'>Next</button>
      </p>
    </div>

  </div>
</div>

