<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link">
        <i class="icon icon-back"></i>
        <span>Back</span>
       </a>
    </div>
    <div class="center sliding">Poem</div>
  </div>
</div>

<div data-page="poem-{{id}}" class="page">
  <div class="page-content">
    <div class="content-block poem-content-block">
      <div class='poem'>
        {{{ content }}}
      </div>
    </div>
  </div>
</div>
