<div class='navbar'></div>

<div class="content-block">
  <div style="padding:0; margin-right:-15px; width:auto" class="content-block-inner">
    <div id="calendar-inline-container"></div>
  </div>
</div>

<div class="list-block">
  <ul>
    <li>
      <a href="#favorites" class="item-content item-link action close-panel">
        <div class="item-media"><i class="icon icon-star"></i></div>
        <div class="item-inner">
          <div class="item-title">Избранное</div>
        </div>
      </a>
    </li>
    <li>
      <a href="#about" class="item-content item-link action  close-panel">
        <div class="item-media"><i class="icon icon-about"></i></div>
        <div class="item-inner">
          <div class="item-title">О Программе</div>
        </div>
      </a>
    </li>
  </ul>
</div>
<div class="content-block">
</div>
