<div class='navbar sidebar-navbar'>
  <div class='navbar-inner'>
    <div class="left"></div>
    <div class="center">
      <span class='navbar-title'>
        Настройки
      </span>
    </div>
    <div class="right"></div>
  </div>
</div>


<div class="list-block">
  <ul>
    {{> shared/list_media_item title="Стихи" url='#poems' iconClass="icon icon-align_center"}}
    {{> shared/list_media_item title="Календарь" url='#calendar' iconClass="icon icon-calendar"}}
    {{> shared/list_media_item title="Избранное" url='#favorites' iconClass="icon icon-star"}}
    {{> shared/list_media_item title="О Приложении" url='#about' iconClass="icon icon-about"}}
    {{> shared/list_media_item title="Системное Меню" url='#developer' iconClass="icon icon-shutdown"}}
  </ul>
</div>
