<div class="content-block poem-content-block">
  <div class='poem poem-of-tomorrow'>
    <p class='app-date'>
      {{appDate}}
    </p>

    <p class='poem-of-tomorrow-message'>
      Новый стих будет ждать вас здесь завтра.
    </p>
  </div>
</div>
