<li>
  <a href="{{url}}" class="item-content item-link action close-panel">
    <div class="item-media"><i class="{{iconClass}}"></i></div>
    <div class="item-inner">
      <div class="item-title">{{title}}</div>
    </div>
  </a>
</li>
