$icon-height-value: 22;
$icon-height: $icon-height-value + px;

@function icon-url($name, $color: 'main') {
  @return url("../img/ai-#{$name}-#{$color}.png")
}

@mixin icon($name, $color, $width: $icon-height-value, $height: $width) {
  background-image: icon-url($name, $color);
  width: $width + px;
  height: $height + px;
}

@mixin define-icon($name, $image-name: $name, $width: $icon-height-value, $height: $width, $filled: false) {
	i.icon.icon-#{$name} { @include icon($image-name, main) }
	i.icon.icon-#{$name}.gray { @include icon($image-name, gray) }
  @if $filled == true {
		i.icon.filled.icon-#{$name} { @include icon("#{$image-name}_filled", main) }
		i.icon.filled.icon-#{$name}.gray { @include icon("#{$image-name}_filled", gray) }
  }
}

@include define-icon(share, upload);
@include define-icon(menu);
@include define-icon(star, $filled: true);
@include define-icon(shutdown, $filled: true);
@include define-icon(about, help, $filled: true);
@include define-icon(like, $filled: true);
