.sidebar
  background: #efeff4

.panel-statusbar-overlay
  background-color: $app-color
  width: 100%

.statusbar-overlay
  background: $app-color
  transition: 400ms
  z-index: 5900

.main-page-content
  overflow: hidden

.navbar
  background-color: $app-color
  color: $navbar-text-color

html.with-statusbar-overlay body .panel
  padding-top: 0

html.with-statusbar-overlay body .panel-statusbar-overlay
  height: 20px
