@import "~framework7/dist/css/framework7.ios.min.css";
@import "~framework7/dist/css/framework7.ios.colors.min.css";

$app-color: #ff9500;
$navbar-text-color: #fff;
$light-gray: rgba(#000, .3);

@import "shared";
@import "icons";
@import "swiper";
@import "poems";



//
// Layout
//

.app-title { font-variant: small-caps; }
.sidebar { background: #efeff4; }
.panel-overlay { background: #000; opacity: 0.2; }
.main-page-content { overflow: hidden; }
.navbar { background-color: $app-color; color: $navbar-text-color; }

html.ios-gt-8 .navbar .center { font-weight: normal; }
.statusbar-overlay { background: $app-color; transition: 400ms; }

//
// About
//

.about-authors p { text-align: center; margin: 0.5em 0; }
.about-authors .img-avatar { width: 128px; height: 128px; }
.img-avatar { border-radius: 50%; }

.navbar .right a+a { margin-left: 0; }
