@import "~framework7/dist/css/framework7.ios.min.css";
@import "~framework7/dist/css/framework7.ios.colors.min.css";

@function icon-url($name) {
  @return url("../img/ai-#{$name}.png")
}

@mixin icon($name, $width: 22, $height: $width) {
  background-image: icon-url($name);
  width: $width + px;
  height: $height + px;
}

i.icon.icon-share {	@include icon(upload) }
i.icon.icon-menu {	@include icon(menu) }
i.icon.icon-star {	@include icon(star) }
i.icon.icon-about {	@include icon(help) }

.app-title { font-variant: small-caps; }

$poem-font-family: Palatino;
.poem { font-family: $poem-font-family; font-size: 16px; }
.poem p { text-align: center; margin: 0; }
.poem .title { text-align: center; font-weight: bold; margin: 1em 0; }
.poem .author { text-align: right; font-style: italic; margin: 1em 0; }
.poem .date { text-align: right; font-style: italic; margin: 1em 0; }
//.poem .body::first-letter { font-size: 150%; color: #ff0000; }
.poem-content-block { padding-left: 5px; padding-right: 5px; }

.sidebar { background: #efeff4; border-right: 1px solid #ddd; }
.sidebar .item-link .item-inner { background-image: none; }

.panel-overlay { background: #000; opacity: 0.2; }
