.smm-swiper {
	position: relative;
	height: 100%;
}

.smm-swiper-viewport {
	position: relative;
	height: 100%;
	transition-timing-function: ease-in-out;
}

.smm-swiper-slide {
	position: absolute; left: 0; top: 0;
	width: 100%;
	height: 100%;

	&.current {
		min-height: 100%;
	}
}
