<!DOCTYPE html>
<html>
  <% conf = htmlWebpackPlugin.options %>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>F7 Demo</title>
    <link href="<%= conf.targetDir %>all.css" rel="stylesheet">
    <script src="<%= conf.targetDir %>all.js"></script>
  </head>

  <body>

    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>

    <div class="panel panel-left panel-reveal sidebar">
      <div class="list-block">
        <ul>
          <li>
            <a href="#favorites" class="item-content item-link action close-panel">
              <div class="item-media"><i class="icon icon-star"></i></div>
              <div class="item-inner">
                <div class="item-title">Избранное</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#about" class="item-content item-link action  close-panel">
              <div class="item-media"><i class="icon icon-about"></i></div>
              <div class="item-inner">
                <div class="item-title">О Программе</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="content-block">
      </div>
    </div>

    <div class="views">
      <div class="view view-main left-view">

        <div class="navbar">
          <div class="navbar-inner">
            <div class="left">
              <a href="#" class="link icon-only open-panel">
                <i class="icon icon-menu"></i>
              </a>
            </div>
            <div class="center sliding">
              <span class='app-title'>
                Стих Дня
              </span>
            </div>
            <div class="right">
              <a href="#" class="link icon-only">
                <i class="icon icon-share"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="pages navbar-through toolbar-through">
          <div data-page="index" class="page">
            <div class="page-content">
              <div id='poems-list-box'></div>
              <div class="content-block">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="about.html">About app</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/template" id="pages-box">
      <div class="navbar">
          <div class="navbar-inner">
              <div class="center">My Page</div>
          </div>
      </div>
      <div class="page" data-page="dynamit">
          <div class="page-content">
              <p>Here comes page content</p>
          </div>
      </div>
    </script>

  </body>
</html>
