$default-font-families: "Roboto", -apple-system-body, sans-serif
$fancy-font: "Bad Script"

// bootstrap overrides
$font-size-base: 20px
$font-family-sans-serif: $default-font-families
$headings-font-weight: 400
$brand-success: #fe952e

@import "bootstrap-sprockets"
@import "bootstrap/variables"
@import "bootstrap/mixins"
@import "bootstrap/normalize"
@import "bootstrap/print"
@import "bootstrap/scaffolding"
@import "bootstrap/type"
@import "bootstrap/grid"
@import "bootstrap/buttons"
// @import "bootstrap/dropdowns"
// @import "bootstrap/button-groups"
// @import "bootstrap/input-groups"
@import "bootstrap/forms"
@import "bootstrap/navs"
@import "bootstrap/navbar"
// @import "bootstrap/component-animations"
// @import "bootstrap/code"
// @import "bootstrap/tables"
@import "bootstrap/utilities"
@import "bootstrap/responsive-utilities"
@import "bootstrap/theme"

= phone
  @media screen and (max-width: $screen-sm-min - 1)
    @content

= larger-device
  @media screen and (min-width: $screen-sm-min)
    @content

.no-padding-on-xs
  +phone
    padding: 0


@import "_home.css.sass"
@import "_poems.css.sass"
